<h1>Welcome to Afro Curio & Gifts</h1>
<p>This is a demo online marketplace for individuals and companies interested in developinhg a web platform where users can buy and sell African Curios and send them as Gifts to their esteemed ones</p>
